.rootPaper {
    margin-top: 100px;
    height: 60px;
    width: 60%;
    margin-left: 250px;
}
.rootSearch {
    padding: '2px 4px';
    display: 'flex';
    padding-top: 100px;
    align-items: 'center';
    margin-top: 50px;
    padding-top:50px;
    top:3;
    width: 400
}
.cardRoot {
    max-width: 345px;
    display: inline;
}

.media {
    height: 140px;
}

.rootGridList {
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden',
}

.gridList {
    width: 500;
    height: 450,
}
.icon {
    color: 'rgba(255, 255, 255, 0.54)',
}

.rootGrid {
    margin-right: 30px;
    margin-bottom: 30px;
}

.logoSize {
    width: 80;
    height: 80,
}

.MuiAvatar-circle {
    width: 30px !important;
    height: 30px !important;
}

.orgName {
    padding-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 20px;
}

/* Profile Card */
.profile_card {
   display: flex;
   flex-flow: column nowrap; 
   justify-content: center;
   align-items: center;
   padding: 20px;
   margin-bottom: 20px;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 10px;
   box-shadow: 3px 3px 6px 1px #dddddda8;
   margin-right: 20px;
}

.profile_card .profile_img img {
    border-radius: 50%;   
    border: 1px solid #edd;
    height: 100px;
    width: 100px;
}

.profile_card .profile_title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.profile_card .profile_company p {
    font-weight: 500;    
    font-size: 20px;
    color: rgb(104, 102, 102);
    line-height: 0;
}

.profile_card .profile_title p {
    font-weight: 500;    
    font-size: 15px;
    color: rgb(104, 102, 102);
    line-height: 0;
}

.profile_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.profile_card .profile_desc p {
    font-weight: 500;    
}

.profile_card .profile_desc {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
/* .rootPaper {
    margin-top: 100px;
    height: 60px;
    width: 60%;
    margin-left: 250px;
}
.rootSearch {
    padding: '2px 4px';
    display: 'flex';
    padding-top: 100px;
    align-items: 'center';
    margin-top: 50px;
    padding-top:50px;
    top:3;
    width: 400
}
.cardRoot {
    max-width: 345px;
    display: inline;
}

.media {
    height: 140px;
}

.rootGridList {
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden',
}

.gridList {
    width: 500;
    height: 450,
}
.icon {
    color: 'rgba(255, 255, 255, 0.54)',
}

.rootGrid {
    margin-right: 30px;
    margin-bottom: 30px;
}

.logoSize {
    width: 80;
    height: 80,
}

.MuiAvatar-circle {
    width: 100px !important;
    height: 100px !important;
}

.orgName {
    padding-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 20px;
}

 
.profile_card {
    display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 1px #dddddda8;
    margin-right: 20px;
 }
 
 .profile_card .profile_img img {
     border-radius: 50%;   
     border: 1px solid #edd;
     height: 100px;
     width: 100px;
 }
 
 .profile_card .profile_title {
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
 }
 
 .profile_card .profile_company p {
     font-weight: 500;    
     font-size: 20px;
     color: rgb(104, 102, 102);
     line-height: 0;
 }
 
 .profile_card .profile_title p {
     font-weight: 500;    
     font-size: 15px;
     color: rgb(104, 102, 102);
     line-height: 0;
 }
 
 .profile_container {
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     margin: 20px;
 }
 
 .profile_card .profile_desc p {
     font-weight: 500;    
 }
 
 .profile_card .profile_desc {
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
 } */