.cardActionArea{
    background-color: aqua;
}
.card-header{
    background-color: burlywood;
    height:100px;
}
.myAvatar{
    /* margin-top: 30px; */
    
}
.myAvatar  span{
    padding-top: 75px;
}
#followButton{
    border: 2px solid green;
    padding-top: 75px;
}
.myActionArea{
    padding-top: 30px;
    
}

/* .CardAction{
    background-color: aqua;
    border-top: 2px solid black;
} */
/* .CardAction #about-us{
    margin-left:150px;
   
}; */

/* .myAvatar  Avatar{
    border: 12px solid black;
} */


 /* Kebab styling */
/* 
.kebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
  
}
.kebab figure {
        width: 6px;
        height: 6px;
        border-radius: 5px;
        background-color: cyan;
        margin: 3px 0;
      
}

.middle {
  transition: all 0.25s;
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(.1px);
  filter: blur(.1px);
}

.middle.active {
  transform: scale(4.5);
  transition: all 0.25;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  transition: all 0.2s;
  font-size: 22px;
  user-select: none;
}

.cross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s;
} */