
.verified{
    margin-left: 8px;
}
.role{
    margin-left :8px;
}
.verified:hover{
    background-color: antiquewhite;
    color:black;
    border-color:antiquewhite;
}
.role:hover{
    background-color: antiquewhite;
    color:black;
    border-color:antiquewhite;
}
.category:hover{
    background-color: antiquewhite;
    color:black;
    border-color:antiquewhite;
}
