.rootSearch {
    padding: '2px 4px';
    display: 'flex';
    padding-top: 100px;
    align-items: 'center';
    margin-top: 50px;
    padding-top:50px;
    top:3;
    width: 400
}

.input {
    flex: 1,
}

.iconButton {
    padding: 10,
}

.divider {
    height: 28;
    margin: 4px;
}