
/* .forms-col{
    border: 2px solid black;
    margin-top: 2px;
} */


.img-col {
    background-image: url('/images/Login.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    /* border: 2px solid black; */
    /*margin-top: 2px;*/
}
